:root {
  /* color*/
  --white-color: #ffffff;
  --black-color: #191819;
  --blue-color: #065fd4;
  --red-color: #cc0000;
  --grey-light-color: #e0e0e0;
  --grey-dark-color: #909090;
  --font-color: #030303;
  --logo-red-color: #ff0000;
  --logo-black-color:#252525;
  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  /* Font size */
  --font-extra-large: 20px;
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--font-color);
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--logo-black-color);
  color: var(--white-color);
}

header .logo {
  font-family: "Oswald", sans-serif;
  font-size: var(--font-extra-large);
  font-weight: ;
}

header .logo .fa-bars{
  font-size: var(--font-large);
  margin-right: var(--padding);
}

header .logo .fa-youtube {
  color: var(--logo-red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* VIDEO PLAYER */
.player {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--black-color);
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 900px;
}

/* INFO */
.infoAndUpNext > .info {
  padding: var(--padding);
  
}
.info .metadata .hashtags {
  display: flex;
  font-size: var(--font-medium);
  color: var(--blue-color);
  margin-bottom: 3px;
}

.info .metadata .hashtags li {
  margin-right: var(--padding);
}

.info .metadata .titleAndButton {
  display: flex;
}

.info .metadata .titleAndButton .title {
  font-size: var(--font-large);
}

.info .metadata .titleAndButton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
  height: 100%;
  transition: transform 300ms; ease-in-out;
}
.info .metadata .titleAndButton .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .metadata .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}


/* INFO > Action Buttons */
.info .actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0;
}

.info .actions button {
  display: flex;
  flex-direction: column;
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .actions button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.info .actions button.active {
  color: var(--blue-color);
}

/* INFO> channel */

.info .channel {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .metadata {
  display: flex;
  align-items: center;
}

.info .channel .metadata img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin: calc(var(--padding) / 2);
}

.info .channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.info .channel .metadata .info .name {
  font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--white-color);
  font-size: var(--font-medium);
  font-weight: 550;
}

.info .channel button {
  background-color: var(--red-color);
  margin: calc(var(--padding) / 1.5) 0;
  padding: 0 14px;
}

/* INFO > DESCIPTION */
.info .description {
  padding: 20px;
  color: var(--font-color);
  font-weight: lighter;
  border-bottom: 1px solid var(--grey-light-color);
  margin-bottom: var(--padding);
}

.info .description.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;

}

/* UP NEXT */

.upNext {
  padding: 0 var(--padding);
  
}

.upNext > .title {
  font-size: var(--font-medium);
  margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
  display: flex;
  margin-top: var(--padding);
}

.upNext .item .img {

  max-width: 300px;
  min-width: 200px;
  margin-right: var(--padding);
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  flex: 1 1 60%;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

.upNext .item .info .title {
  font-size: var(--font-medium);
  margin-bottom: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: var(--padding);
}

.upNext .item .info .name {
  font-size: var(--font-small);
  font-weight: lighter;
}

.upNext .item .info .views {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.upNext .item .moreBtn {
  flex: 1 1 5%;
  color: var(--grey-dark-color);
}

/* INFO AND UPNEXT */
.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

.infoAndUpNext .info{
  flex:1 1 50%
}

.infoAndUpNext .upNext{
  flex:1 1 50%
}

@media screen and (min-width: 900px) {
  .infoAndUpNext {
    display: flex;
    flex-direction: row;
    margin: var(--padding) 0;
    justify-content: center;
  }
  .upNextDiv{
    padding-left: var(--padding);
    border-left: 2px solid var(--grey-light-color);
    
  }
  .upNext{
    max-width: 700px;
  }
  .info{
    max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .infoAndUpNext .upNext .item .title {
  font-size: var(--font-large);
  }
  .infoAndUpNext .upNext .item .name {
    font-size: var(--font-medium);
  }
}